body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Added code: */

.searchbar-and-signin {
    display: flex; /* alignment of items (default: horizontally) */
    align-items: center;  /* vertically centers the items */
    margin-left: 20px; /* add spacing for border */
    margin-right: 20px; /* add spacing for border */
    justify-content: space-between; /* evenly distribute space b/w the components */
}

.search-bar {
    width: 80%; /* 80% of searchbar-and-signin container*/
}

.sign-in-button {
    /*
        potentially add more features
    */
}

.search-input {
    font-size: 16px;
    width: 100%;
    border: 2px solid #F2A900;
    border-radius: 20px;
    padding: 16px;
}

.sign-in-text {
    background-color: #1451d4;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 20px;
}

.logo {
    background-color: #F2A900;
    color: #2D68C4;
    font-family: 'Copperplate', fantasy;
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px;
}
