


.App {
    font-family : sans-serif;
    text-align:  center;
}


body {
    background-color: rgb(45, 108, 203);
}

/* .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);

} */

.content {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-0%,-0%); 
    background: #fff;
    padding: 100px;
    border-radius: 20px;
    width: 405 px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .product {
    display: flex;
    align-items: center;

} */

.product h1{
    font-size: 20px;

}


textname{
    position: absolute;
    width: 40%;
    border-radius: 10px;
    padding: 50px;
    
    /* border-radius: 6px; */
}

textarea{
    position: center; 
    width: 80%;
    border-radius: 10px;
    padding: 50px;
    
    /* border-radius: 6px; */
}




button{

    background: orange;
    color: #fff;
    width: 50%;
    border-radius: 6px;
    padding: 10px 0;
    border: none;
    font-weight: bolder;
    cursor: pointer;

}

button.disabled{

    opacity: .5;
    pointer-events: none;


}


.restaurant-container {
    display: flex;
  }
  
  .restaurant-box {
    border: 2px solid blue;
    padding: 10px;
    margin-right: 10px;
  }